body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: #c1cad6;
  height: 100vh;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color:#f26a8d;
  padding: 10px 0;
  margin-bottom: 20px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}


h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  background-color: white;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell img {
  width: 80%;
  height: 80%;
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
}

button {
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 1rem;
}
.bottom-image {
  margin-top: 30px;
  text-align: center;
}

.bottom-image img {
  max-width: 20%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px#f26a8d(0,0,0,0.1);
}





@media (max-width: 600px) {
  .status {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}
@media (max-width: 400px) {
  .board {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }

  .cell {
    font-size: 0.8rem;
  }

  .navbar a {
    font-size: 0.9rem;
  }
}
@media (max-width: 300px) {
  .board {
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
  }

  .cell {
    font-size: 0.7rem;
  }

  .navbar a {
    font-size: 0.8rem;
  }
}
@media (max-width: 200px) {
  .board {
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
  }

  .cell {
    font-size: 0.6rem;
  }

  .navbar a {
    font-size: 0.7rem;
  }
}
@media (max-width: 100px) {
  .board {
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);
  }

  .cell {
    font-size: 0.5rem;
  }

  .navbar a {
    font-size: 0.6rem;
  }
}